* {
  padding: 0;
  margin: 0;
}

body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*! style for Counter */
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*! style for Card */
.card__posts {
  margin: 20px;
}

.card__btn {
  text-align: center;
  padding: 20px;
}
